source      text eol=lf diff=html linguist-language=HTML
*.wattsi    text eol=lf diff=html linguist-language=HTML

*.css       text eol=lf
*.html      text eol=lf
*.js        text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.svg       text eol=lf
*.txt       text eol=lf
*.yml       text eol=lf
