AddDefaultCharset utf-8
ForceType text/html
DirectoryIndex index index.html
Redirect 301 /complete.html /
ErrorDocument 404 404.html

<files print.pdf>
ForceType application/pdf
Header add Content-Disposition "inline; filename=html-standard.pdf"
</files>

<files *.png>
ForceType image/png
</files>

<files *.json>
ForceType application/json
</files>

<files *.js>
ForceType application/javascript
</files>

<files *.txt>
 ForceType text/plain
</files>

<files *.css>
 ForceType text/css
</files>

<files *.html>
 ForceType text/html
</files>
