AddDefaultCharset utf-8
ForceType text/html
DirectoryIndex index index.html
Redirect 301 /complete.html /

<files *.png>
ForceType image/png
</files>

<files *.json>
ForceType application/json
</files>

<files *.js>
ForceType application/javascript
</files>

<files *.pdf>
ForceType application/pdf
</files>
