<files *.svg>
 ForceType image/svg+xml
</files>

<files *.png>
 ForceType image/png
</files>

<files *.jpeg>
 ForceType image/jpeg
</files>

ExpiresActive on
ExpiresDefault A604800
Header set Cache-Control "public"
